{{template "base" . }}

{{define "css"}}
<link
	rel="stylesheet"
	href="../static/styles/home.css"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
/>
{{end}}

{{define "title"}}
Home
{{end}}

{{define "content"}}
    <div class="grid-container">
      {{ range . }}
      <div class="card">
        <img src="{{ .ImageURL }}" alt="image">
        <div class="card-content">
          <h2>{{ .Name }}</h2>
          <div class="button-group">
            <button><a href="/locations?id={{ .ID }}" >Locations</a></button>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
{{end}}
